# Dependências
node_modules/
npm-debug.log*
yarn-error.log*

# Variáveis de Ambiente (NUNCA subir para o Git)
.env
.env.*
!.env.example

# Build e Cache
dist/
.vite/

# Volumes e Infraestrutura Local
postgres_data/
.docker/

# Kubernetes / GitOps
k8s/overlays/dev/temp.yaml
*kubeconfig*
*-secret.yaml

# Arquivos de Sistema Operacional
.DS_Store
